.Hello {
    font-family: "Lato";
    max-width: 692px;
    min-width: 320px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    background: #fff;


    .Hello__container {
        display: block;
        position: relative;
        width: 300px;
        height: 60px;
        margin: 75px auto 26px;

        img {
            position: absolute;
            z-index: 0;
            width: 300px;
            height: 159px;
            top: -200%;
        }

        .Hello__word {
            z-index: 3;
            top: -90px;
            display: flex;
            margin: 0 auto;
            padding: 15px 20px;
            width: 208px;
            height: 76px;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 2px 2px 42px rgba(77, 131, 250, 0.09);
            backdrop-filter: blur(10px);

            justify-content: center;
            align-items: center;
            border-radius: 100px;

            h1 {
                display: block;
                font-size: 45px;

                &.blue {
                    color: #0060F0;
                    font-weight: 700;
                }
            }
        }
    }


    .main__container {

        p {
            font-size: 26px;
            margin: 0 0 36px;
        }

        .description {
            text-align: center;
            font-size: 21px;
            margin-top: 10px;
        }

        .btn {
            position: relative;
        }

    }


}

@media (max-width:663px) {

    .Hello {
        height: 100%;

        .Hello__container {
            margin-top: 49px;
        }

        .main__container {
            width: 100%;

            p {
                font-size: 18px;
            }


            .btn {
                padding: 10px 65px;
                font-size: 20px;
            }

            .description {
                font-size: 14px;
            }
        }
    }
}