.Test {
    height: 100%;
    max-width: 708px;
    margin: 0 auto;
    position: relative;
    padding: 90px 0 52px;

    .question {
        margin-bottom: 8px;


        &-number {
            margin: 0 0 21px;
        }
    }

    .answers {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        &.big {
            height: 150px;
        }

        .answer {
            display: flex;
            align-items: center;
            margin-top: 17px;
            font-size: 20px;

            input[type=radio] {
                margin-right: 18px;
                border: 0px;
            }
        }
    }

    .btn {
        margin-top: 20px;
        // position: absolute;
        // bottom: 45px;
    }
}



@media (max-width:663px) {
    .Test {
        padding: 46px 18px 26px 20px;

        .answers {

            &.big {
                height: auto;
            }

            .answer {

                input[type=radio] {
                    margin-right: 18px;
                    border: 0px;
                }
            }
        }

        .button__wrapper {
            margin: 0 auto;
            position: relative;
            display: block;
            width: 0px;
            border: 3px solid black;
            height: auto;
        }

        .btn {
            position: static;
            margin: 20px auto;
        }
    }
}